.container-fluid{
  margin-top: 50px;
  & span {
    margin-left: 10px;
    color: honeydew;
  }
}

.form {
  margin-top: 40px;
  margin-bottom: 0px;
  min-width: 300px;
  position: sticky;
  border-right: solid 1px rgba(24, 74, 131, 0.842);
  margin-left: 20px;
  float: left;
  margin-right: 250px;
}

.mybox {
  height: 15px;
  width: 15px;
  cursor: pointer;
}

.myType {
  font-weight: bold;
  margin-left: 8px;
  font-size: large;
  color: whitesmoke;
}

.mycheck {
  font-weight: bold;
  color: whitesmoke;
}

.btn {
  opacity: 0.8;
  border-color: black;
}

.btn-primary {
  margin-right: 2px;
}

.btn-dark {
  margin-left: 5px;
  margin-right: 5px;
}

#min-price {
  display: inline-block;
  margin-left: 5px;
}

#max-price {
  display: inline-block;
}

.number-input {
  width: 90px;
}

.row-fluid{
 
  margin-top: 100px;
}

.card-wrapper{
  display: inline-block;
}

// @media screen and (max-width: 400px){
//   .row-fluid{
//     display: inline-block;
//     min-width: 600px;
//    }
//   .form{
//     position: static;
//   }
 
//   }