<form class="form-inline form" novalidate>
  <div class="form-group">
    <label for="minAge">Price From / To</label>
    <input type="number" class="form-control ml-1" style="width: 100px" id="minAge" name="minAge">
  </div>

  <div class="form-group px-2">
    <label for="maxAge"> - </label>
    <input type="number" class="form-control ml-1" style="width: 100px" id="maxAge" name="maxAge">
  </div>

  <div class="form-group px-2">
    <label for="type">Type: </label>
    <select class="form-control ml-1" style="width: 130px" id="type" name="type">
      <option>

      </option>
    </select>
  </div>
  <div class="form-group px-2">
    <label for="rating">Rating: </label>
    <select class="form-control ml-1" style="width: 130px" id="rating" name="type">
      <option>

      </option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary" style="margin-left:10px">Apply Filters</button>
  <button type="button" class="btn btn-info" style="margin-left:10px">Reset Filter</button>
</form>
<br>

<div class="container">
  <div class="row">
    <div class="col-lg-auto" *ngFor="let item of items">
      <app-item-card [item]="item"></app-item-card>
    </div>
  </div>
</div>


<div class="d-flex justify-content-center">
<pagination  [boundaryLinks]="true" 
            [totalItems]="pagination.totalItems"
            [itemsPerPage]="pagination.itemsPerPage"
            [(ngModel)]="pagination.currentPage"
            (pageChanged)="pageChanged($event)"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
          </pagination>
</div>

