.container {
  margin-top: 50px;
  max-width: 1900px;
  position: relative;
  & span {
    margin-left: 10px;
    color: honeydew;
  }
}

.form {
  margin-top: 40px;
  justify-content: center;
  margin-bottom: 0px;
  position: sticky;
  top: 80px;
  border-right: solid 1px rgba(24, 74, 131, 0.842);
  margin-left: 20px;
  float: left;
  margin-right: 150px;
}

.mybox {
  height: 15px;
  width: 15px;
  cursor: pointer;
}

.myType {
  font-weight: bold;
  margin-left: 8px;
  font-size: large;
  color: whitesmoke;
}

.mycheck {
  font-weight: bold;
  color: whitesmoke;
}

.btn {
  opacity: 0.8;
  border-color: black;
}

.btn-primary {
  margin-right: 2px;
}

.btn-dark {
  margin-left: 5px;
  margin-right: 5px;
}

.page-list {
  position: fixed;
  top: 800px;
  left: 855px;
}

#min-price {
  display: inline-block;
  margin-left: 5px;
}

#max-price {
  display: inline-block;
}

.number-input {
  width: 90px;
}
