<div class="container">
  <form class="form-group form" [formGroup]="form" (submit)="loadItems()">
    <div class="form-group" style="display: inline-block; margin-left: 5px;">
      <label for="minPrice" class="myType">Price</label>
      <input type="number" class="form-control ml-1" style="width: 90px" id="minAge" 
      [(ngModel)]="itemParams.minPrice"  [ngModelOptions]="{standalone: true}" Name="minPrice">
    </div>
    <span style="margin-left: 10px;">-</span>
    <div class="form-group px-2" style="display: inline-block;">
      <label for="maxPrice"></label>
      <input type="number" class="form-control ml-1" style="width: 90px" id="maxAge" 
      [(ngModel)]="itemParams.maxPrice" [ngModelOptions]="{standalone: true}"
      Name="maxPrice"> 
    </div>
  <hr>
  <p class="myType">Type:</p>
    <div class="form-check"  *ngFor="let type of formTypes['controls']; let i = index">
      <input class="form-check-input mybox" type="checkbox" [formControl]="type">
      <label class="form-check-label" for="typed">
       <p class="mycheck">{{types[i].name}}</p> 
      </label>
    </div>
    <hr>
    <button type="submit" class="btn btn-primary" style="margin-right: 2px;">Apply Filters</button>
    <button type="button" class="btn btn-dark" style="margin-left: 5px; margin-right: 5px;" (click)='resetFilters()'>Reset Filter</button>
  </form>
  <br>
  <div class="row">
    <div class="col-lg-auto" *ngFor="let item of items">
      <app-item-card [item]="item"></app-item-card>
    </div>
  </div>
</div>


<div class="d-flex justify-content-center">
<pagination  [boundaryLinks]="true" 
            [totalItems]="pagination.totalItems"
            [itemsPerPage]="pagination.itemsPerPage"
            [(ngModel)]="pagination.currentPage"
            (pageChanged)="pageChanged($event)"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
          </pagination>
</div>

