<div class="card shadow" style="width: 18rem;">
  <img class="card-img-top" src="{{ item.image }}" alt="Card image cap" />
  <div class="card-body">
    <h5 class="card-title text-center name">{{ item.name }}</h5>
    <hr />
    <p style="font-weight: bold; margin-bottom: 1px;">Description:</p>
    <p class="card-text">{{ item.description }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"></li>
    <li class="list-group-item text-center">{{ item.price }}$ per unit</li>
  </ul>
  <div class="card-body float-left">
    <star-rating [starType]="'svg'" [rating]="2.63"></star-rating>
    <a href="#" class="float-right">{{ item.reviews }} Reviews</a>
  </div>
</div>
