.card {
  margin-bottom: 40px;
  max-height: 585px;
  max-width: 300px;
  margin-top: 10px;
  opacity: 0.8;
  border-radius: 20px;
  cursor: pointer;

  h5 {
    font-weight: bold;
    margin-top: 30px;
  }

  img {
    transform: scale(0.8);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    border-radius: 10px;
    max-width: 250px;
    margin-top: 5px;
    margin-bottom: 3px;
  }

  &:hover {
    transform: scale(1.05);
    transition-duration: 650ms;
    transition-timing-function: ease-out;
    box-shadow: 1px 1px 60px #00bdf7 !important;
    opacity: 1;
  }

  &:hover img {
    transform: scale(1.1);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
  }

  &:hover h5 {
    text-shadow: 1px 1px 3px forestgreen;
  }
}

.card-body {
  padding: 16px;
  max-width: 300px;
  
  & a {
    font-weight: bold;
  }
}

.list-group-item {
  margin: 1px;
}

.img-wrapper {
  padding: 20px;
  max-height: 117px;
}

.price {
  font-weight: bold;
}
