<div class="card shadow" style="max-height: 585px;">
  <div class="img-wrapper"><img class="card-img-top" src="{{ item.image }}" alt="Card image cap" /></div>
  <div class="card-body mycard">
    <h5 class="card-title text-center name">{{ item.name }}</h5>
    <hr />
    <p style="margin-bottom: 0;"><strong>Type:</strong> {{ item.type }}</p>
    <hr>
    <p style="margin-bottom: 0;"><strong>Durability:</strong> {{ item.durability }}</p>
    <hr>
    <p class="card-text"><strong>Description:</strong> {{ item.description }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"></li>
    <li class="list-group-item text-center price">{{ item.price }}$ per unit</li>
  </ul>
  <div class="card-body float-left">
    <star-rating [starType]="'svg'" [rating]="2.63"></star-rating>
    <a href="#" class="float-right" style="font-weight: bold;">{{ item.reviews }} Reviews</a>
  </div>
</div>
